/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); */

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    /*  */
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

body {
    font-size: 15px;
    font-family: 'Lexend Deca';
    font-weight: 400;
    background-color: var(--Very-light-gray);
}

h1 {
    font-family: 'Big Shoulders Display';
    color: var(--Transparent-white);
    font-weight: 700;
    color: white;
}

p {
    color: var(--Transparent-white);
    font-size: 15px;
}

.grid-display {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60vw;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 50px;
}

.first {
    background-color: var(--Bright-orange);
    padding: 50px;
    border-radius: 8px 0 0 8px;
}

.second {
    background-color: var(--Dark-cyan);
    padding: 50px;
}

.third {
    background-color: var(--Very-dark-cyan);
    padding: 50px;
    border-radius: 0 8px 8px 0;
}

.btn {
    background-color: var(--Very-light-gray);
    border-radius: 9999px;
    cursor: pointer;
    font-size: 15px;
    border: 2px solid var(--Very-light-gray);
    padding: 10px 30px;
    text-align: center;
    margin-top: 100px;
}

.first-btn {
    color: var(--Bright-orange);
}

.second-btn {
    color: var(--Dark-cyan);
}

.third-btn {
    color: var(--Very-dark-cyan);
}

.btn:hover {
    background-color: transparent;
    color: var(--Very-light-gray);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 700px) {
    .grid-display {
        display: grid;
        grid-template-columns: 70vw;
        width: fit-content;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .first {
        padding: 50px;
        border-radius: 8px 8px 0 0;
    }
    
    .second {
        padding: 50px;
    }
    
    .third {
        padding: 50px;
        border-radius: 0 0 8px 8px;
    }
    
    .btn {
        padding: 10px 30px;
        margin-top: 100px;
    }

}